#container {
    display: flex;
    width: 960px;
    gap: 1px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.newDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
   
}



.my-color-class {
    background-color: red;
}

button {

    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;

    display: flex;
    margin-left: auto;
    margin-right: auto;
}