#container {
    display: flex;
    flex-direction: row;
    /* justify-content: center;
    align-items: center; */
    /* gap: 50px; */
}

.newDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    border: 2px solid black;
}