#container {
    display: flex;
    width: 1350px;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.newDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    /* flex-basis: 6.25%; */
}

.my-color-class {
    background-color: red;
}